*{
    margin: 0px;
    padding: 0px;
}
#heading{
    background-color: rgb(67, 118, 207);
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(230, 230, 156);
}